
/* ------------ Landing Page CSS------------  */

body {
  background-color: rgb(255, 255, 255);
}

a {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#logo img:hover {
  border-left: solid 0.5px rgb(0, 0, 0);
  border-right: solid 0.5px rgb(0, 0, 0);
}

nav:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-style: italic;
  text-decoration-color: rgb(0, 0, 0);
}

#landing-image {
  background-color: blue;
  width: 90%;
  height: 600px;
  display: block;
  position: relative;
  overflow: hidden;
  }

.mySlides {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

  .foot-bar {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

#about, #work, #inspo, #phone, #copyright, #contact {
  margin: 3px;
  padding: 10px;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

/* ------------ Inspiration CSS------------  */

.social {
  background-color: rgb(53, 19, 179);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.socialbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 750px;
}

#leftsocial {
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden
  background-color: blue;
}

#rightsocial {
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden
  background-color: blue;
}

/* ------------ Work CSS ------------  */

  .card-block {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 90%; 
  }

  .row {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  }

  .left-col {
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 20px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
  }

  .right-col {
    width: 66%;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 20px;
  }

  .right-col img {
    width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }

  .card-block:hover {
    border-bottom: solid 0.5px rgb(0, 0, 0);
    padding-bottom: 5px;
    border-right: solid 0.5px rgb(0, 0, 0);
    padding-right: 5px;
  }
 

  /* ------------ Project CSS ------------  */


.gallery__img:hover {
width: 101%;
}

.container {
  width: 85%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.column {
  flex: 23%;
  margin: 5px;
}

.column img {
  margin: 4px;
  width: 100%;
}

  /* ------------ About CSS ------------  */
  .aboutMe {
    margin: auto;
    flex-shrink: 0;
    width: 100%;
    height: auto;
  }

   /* ------------ Video CSS ------------  */
   
  .sizzle-grid {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mambo-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
  }
