
/* ------------ Landing Page CSS------------  */

body {
  background-color: rgb(255, 255, 255);
}

a {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#landing-image {
  height: 750px;
  width: 80%;
  margin: 5px;
  position: relative;
    overflow: hidden;
  }

.mySlides {
  width: 100%;
  position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
  
  .foot-bar {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-style: italic;
  text-decoration-color: rgb(0, 0, 0);
}

#logo img:hover {
  border-left: solid 0.5px rgb(0, 0, 0);
  border-right: solid 0.5px rgb(0, 0, 0);
}

#about, #work, #inspo, #phone, #copyright, #contact {
  margin: 3px;
  padding: 10px;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

/* ------------ Inspiration CSS------------  */

.social {
  background-color: rgb(53, 19, 179);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.socialbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 750px;
}

#leftsocial {
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden
  background-color: blue;
}

#rightsocial {
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden
  background-color: blue;
}

/* ------------ Work CSS ------------  */

#work-project {
  height: 200px;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  }

  #top-project {
    position: absolute;
    width: 250px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-left: solid 0.5px rgb(0, 0, 0);
    border-top: solid 0.5px rgb(0, 0, 0);
  }

  #top-text {
  margin: 25px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  }

  #work-image img:hover {
    opacity: 99%;
  }

  /* ------------ About CSS ------------  */
  .aboutMe {
    margin: auto;
    flex-shrink: 0;
    width: 100%;
    height: auto;
  }


  /* ------------ Project CSS ------------  */

  .container {
    width: 85%;
    margin: 5px; 
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

